<h1>Cocktailio</h1>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail|  %>
      <div class="col-xs-12 col-sm-4">
        <div class="card">

            <h2><%= cocktail.name %></h2>

          <%= link_to "Read more", cocktail_path(cocktail) %>
        </div>
      </div>
    <% end %>
  </div>
  <br>
  <p><%= link_to "Add a new Cocktail", new_cocktail_path %></p>
</div>
